@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-padding-top: 6rem;
    scroll-padding-bottom: 6rem;
    scroll-padding-right: 6rem;
    scroll-padding-left: 6rem;
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
}

body{
    background: #f4f4f4;
}

::-webkit-scrollbar{
    width: 8px;
    /* 紫色 */
    background: #fff;
}
::-webkit-scrollbar-thumb{
    background: #3cdbdc;
    border-radius: 20px;
}